@import 'font';
@import 'var';
@import 'layout/root';
@import 'colors';

@import 'components/card';
@import 'components/slider'; // import carousel.js
@import 'components/carousel';
@import 'components/categories';
@import 'components/itemOptions';
@import 'components/addCart';
@import 'components/button';
@import 'components/input';
@import 'components/table';
@import 'layout/container';
@import 'layout/menu';
@import 'layout/wrapper';
@import 'layout/section';
@import 'layout/product';
@import 'layout/footer';
@import 'layout/home';
@import 'layout/login';

@import 'sp/sp';
@import 'theme/home';
