.itemOptions {
  position: relative;
  &-options {
    display: none;
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    width: max-content;
    min-width: 140px;
    max-width: 300px;
    padding: 0.5em 0;
    border-radius: 0.3em;
    animation: itemOptionsXd 0.2s ease-in-out;
    transform-origin: top right;
    @keyframes itemOptionsXd {
      0% {
        transform: scale(0.2);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  &-item {
    padding: 0.4em 1.6em;
    cursor: initial;
    &_link {
      cursor: pointer;
      display: block;
      background-color: transparent;
      transition: background-color 0.4s;
      color: inherit;
      text-decoration: none;
      &:hover {
        background-color: rgba(223, 223, 223, 0.801);
      }
    }
  }
}
