{% extends "base.html" %} {% load static %} {% block content %}

<div>
  <img src="{% static 'img/imageDesc1.jpg' %}" width="50%" alt="" />
</div>

{% comment %}
<div>
  {% for i in product_order_trend3 %}
  <div>
    {% if i.product.image %}
    <img src="{{i.product.image.url}}" width="8%" alt="" />
    {% endif %}
    <a href="{% url 'product:detail_product' i.product.product_id %}"
      >{{ i.product.name }}</a
    >

    {{ i.product.category }} {{ i.product.price }}
  </div>
  {% endfor %}
</div>
{% endcomment %}

<div>
  <h2>Tendencia</h2>
  <hr />
  {% for product in product_order_date %} {% if product.image %}
  <img src="{{product.image.url}}" width="8%" alt="" />
  {% endif %}
  <a href="{% url 'product:detail_product' product.product_id %}"
    >{{ product.name }}</a
  >
  {{ product.category }} {{ product.price }} {% endfor %}
</div>

<div>
  <h2>Novedad</h2>
  <hr />
  {% for product in product_order_date %} {% if product.image %}
  <img src="{{product.image.url}}" width="8%" alt="" />
  {% endif %}
  <a href="{% url 'product:detail_product' product.product_id %}"
    >{{ product.name }}</a
  >
  {{ product.category }} {{ product.price }} {% endfor %}
</div>

<div>
  <h2>Categoria</h2>
  <hr />
  <a href="{% url 'product:list_category_product' 'Tecnologia' %}"
    >Tecnologia</a
  >
  <a href="{% url 'product:list_category_product' 'Gaming' %}">Gaming</a>
  <a href="{% url 'product:list_category_product' 'Ropa' %}">Ropa</a>
  <a href="{% url 'product:list_category_product' 'Ropa' %}">">Otros</a>
  <img src="{% static 'img/imageDesc3.jpg' %}" width="50%" alt="" />
</div>

<div>
  <img src="{% static 'img/imageDesc2.jpg' %}" width="50%" alt="" />
</div>

{% endblock %}
