.sp-list-product {
  .container-button {
    text-align: right;
  }
  .btn-create {
    display: inline-flex;
    margin: 1em 0;
  }
  h1 {
    color: white;
    text-align: center;
    padding: 1em 0;
  }
}
