{% block content %}


<form method="POST" action="{% url 'product:create' %}"  enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <input  type="text" placeholder="ID" name="product_id" />
        {% for error in form.name.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <div>
        <input  type="text" placeholder="category" name="category" />
        <select>
            <option>-</option>
            <option>Tec    - Tecnologia</option>
            <option>Gaming - Gaming</option>
            <option>Ropa   - Ropa</option>
            <option>Otros  - Otros</option>
        </select>
        {% for error in form.subject.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    
    <div>
        <input  type="text" placeholder="name" name="name" />
        {% for error in form.name.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <div>
        <input  type="text" placeholder="description" name="description" />
        {% for error in form.name.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <div>
        <input  type="number" placeholder="price" name="price" min="0"/>
        {% for error in form.name.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <div>
        <input  type="number" placeholder="stock" name="stock" min="0"/>
        {% for error in form.name.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <div>
        <input  type="file" name="image" />
        {% for error in form.name.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <button type="submit">Create</button>

</form>


{% endblock %}