{% block content %}

    <h1>Product List</h1>
    <a href="{% url 'product:create' %}">Create</a> 
    {{ product_order_date1 }}
    {{ product_order_date2 }}
    <table style="background-color:whitesmoke" text-align="center" >
            <thead>
                <tr>
                    <th width="12%">ID</th>
                    <th width="12%">Name</th>
                    <th width="12%">Description</th>
                    <th width="12%">Category</th>
                    <th width="12%">Price</th>
                    <th width="12%">Stock</th>
                    <th width="12%">Image</th>
                    <th width="12%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in product_list %}
                <tr>
                <td>{{product.product_id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td>{{product.stock}}</td>
                <td>
                    {% if product.image  %}
                        <img src="{{product.image.url}}" width="100%" alt="" >
                    {% endif %}
                </td> 
                <td>
                    <a href="{% url 'product:update' pk=product.product_id %}">( Update )</a> 
                    <a href="{% url 'product:delete' pk=product.product_id %}">( Delete )</a> 
                </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    

{% endblock %}